<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{HH:mm:ss} [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="logs\" />
      <datePattern value="dd-MM-yyyy'.log'" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{HH:mm:ss} [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <appSettings>
    <!-- IP do CallManager -->
    <add key="host" value="192.168.100.10" />
    <!-- Porta do CallManager -->
    <add key="port" value="8443" />
    <!-- Versão do CallManager-->
    <add key="VERSAO" value="11.5" />
    <!-- Login do CallManager -->
    <add key="login" value="test" />
    <!-- Senha do CallManager -->
    <add key="senha" value="1234" />
    <!-- Sleep milliseconds -->
    <add key="sleep" value="10000" />
    <!--SERVIDOR FTP-->
    <add key="ip_ftp" value="localhost" />
    <add key="login_ftp" value="test" />
    <add key="senha_ftp" value="1234" />
    <add key="port_ftp" value="21" />
    <add key="pasta_arquivos_ftp" value="/test1" />
    <add key="pasta_realizados_ftp" value="/test2" />
    <add key="SFTPhostKey" value="ssh-rsa 1024 0d:a9:fc:43:c2:d1:7e:53:41:f3:6d:85:44:88:c2:b4" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>